header {
    background: #BBBBBB;
    padding: 20px 0;
}
body    {
  background-color: #ff08;
  color: #000; 
}
 body {
    font-family: 'Montserrat', sans-serif;
  }
.principal p {
    margin: 0 0 1em;
}
.principal strong {
    font-weight: bold;
}

.principal em {
    font-style: italic;
}
.imagembeneficios {
    width: 60%
}
header {
	background: #BBBBBB;
	padding: 20px 0;
}
.titulo-principal {
    text-align: center;
    font-size: 2em;
    margin: 0 0 1em;
}
  font-size: 
}     
  footer {
	text-align: center;
	background: url("bg.jpg");
	padding: 20px 0;
}
header {
    background: #BBBBBB;
    padding: 20px 0;
}
footer {
    text-align: center;
    padding: 40px 0;
}
main {
    width: 1000px;
    margin: 0 auto;
}
